# {{ .Name }} ({{ .Type }})

{{ printf "%s" .Description }}

{{ if .HasExample }}
## Example
{{ tffile .ExampleFile }}

{{ with $path := printf "/examples/resources/%s/examples.md" .Name -}}
{{- with $content := codefile "" $path -}}
{{- if lt 10 (len (plainmarkdown $content)) -}}
You can find complete examples within these repositories:
{{ plainmarkdown $content }}

{{- end -}}
{{- end -}}
{{- end -}}

{{ .SchemaMarkdown | trimspace }}
{{- end }}
{{ if .HasImport -}}
## Import
{{ codefile "shell" .ImportFile }}
{{- end -}}


