# {{ .Name }} ({{ .Type }})

{{ printf "%s" .Description }}

{{ if .HasExample }}
## Example

<div class="alert alert-info">
  <i style="font-size:24px" class="fa">&#xf05a;</i> If you're not familiar with Terraform or just want more examples, you can configure everything you need directly from the <a href="https://console.qovery.com">Qovery console</a>. Then, use our <a href="https://hub.qovery.com/docs/using-qovery/configuration/environment/#terraform-exporter">Terraform exporter</a> feature to generate the corresponding Terraform code.
</div><br />

{{ tffile .ExampleFile }}

{{ with $path := printf "./examples/resources/%s/examples.md" .Name -}}
{{- with $content := codefile "" $path -}}
{{- if lt 10 (len (plainmarkdown $content)) -}}
You can find complete examples within these repositories:
{{ plainmarkdown $content }}

{{- end -}}
{{- end -}}
{{- end -}}

{{ .SchemaMarkdown | trimspace }}
{{- end }}
{{ if .HasImport -}}
## Import
{{ codefile "shell" .ImportFile }}
{{- end -}}


